<!DOCTYPE html>
       <head>
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Добро пожаловать в ваш WSGI проект.</title>
   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" ></script>
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %} {% bootstrap_javascript %}
{% bootstrap_messages %}
</head>
<body>
<div style="height: 50px;"></div>
<div class="container">
<div class="row">
  <div class="col-md-4">
<a href="http://locum.ru">
<img src="http://locum.ru/images/logo.jpg" alt="logo" /></a>  	
  </div>
  <div class="col-md-8"></div>
</div>

<div class="row">
  <div class="col-md-4">
<h1>Добро пожаловать в ваш uWSGI проект.</h1>
  </div>
  <div class="col-md-8">
  	<p>Это приложение создано нами автоматически.<br>Оно может показать некоторые <a href="#" id="settings" onclick="$('#info').toggle();">системные настройки</a> и ничего больше.</p>
<div id="info" class="well" style="display:none;">
<h1>User info</h1>

{{ format }}

{{ pkgs }}
</div>

</div>

</div>
</body>
</html>
